---
import Layout from "../../layouts/Layout.astro";
import { AnimatorEditor } from "../../features/animator/AnimatorEditor";
---

<Layout title="Kinetix Animator" showFooter={false} showAds={false} isApp>
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={`${import.meta.env.BASE_URL}favicon.svg`}
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>Kenichi Animator</title>
    </head>
    <body class="bg-neutral-950 text-slate-100 overflow-hidden">
        <AnimatorEditor client:only="react" />
    </body>
</Layout>
