---
import Layout from "../layouts/Layout.astro";
import { StudioEditor } from "../features/studio/StudioEditor";
---

<Layout title="Kenichi App" showFooter={false} showAds={false} isApp>
    <div
        class="h-full w-full overflow-hidden bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-slate-100 relative"
    >
        <StudioEditor client:only="react" />
    </div>
</Layout>
